**/obj/*
**/bin/*
**/.idea/
**/.vs/
**/.ai/
**/logs/
**/log/
**/build/
**/Debug/
**/Release/
*.exe
*.pdb
*.copied
*.user
*.sqlite-wal
*.sqlite-shm
tools/AssetConverter/build/

# Unreal Engine
CorsairsUE/Binaries/
CorsairsUE/Build/
CorsairsUE/DerivedDataCache/
CorsairsUE/Intermediate/
CorsairsUE/Saved/
CorsairsUE/Content/
sources/Server/GameServer/build-posix/
